.applicationFormContainer {
    padding: 10px;

    .applicationForm {
        input[type=text], input[type=password], input[type=email], input[type=tel] {
            height: 50px;
            width: 100%;
            font-size: 16px;
            padding-left: 15px;
            margin-top: 10px;
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }

    .nameField {
        input[type=text] {
            width: 49%;
        }

        .lastName {
            float: right;
        }
    }

    .formfields {
        margin-bottom: 10px;
    }

    .disclaimerText {
        text-align: center;
        padding: 10px;
    }
}
